<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="ConsumerKey" value="Qhy9N582JSESKOso5PKVehkMO" />
    <add key="ConsumerSecret" value="c7k7SmvIBFUB5s5H43y8YJDtV4YwNgyYqMYcWOLPp1vgGshvIm" />
    <add key="AccessToken" value="1585619707-2kwvHrUhY9r9uIbfi40Zqkdny2QqgAYWRbA4WS3" />
    <add key="AccessTokenSecret" value="6jsbptb5Zl6CmSzgNwtAFekIsFU9vGPdIYiD3oqGEtJMQ" />
        
    <add key="TweetsCount" value="5" />
  </appSettings>
</configuration>
