<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="ConsumerKey" value="RL36Lhb26gA3IZ89vRgy05gIa" />
    <add key="ConsumerSecret" value="m5bLA9PCo09kBPoa6GKvvUOunzG3QYXG4eLAUJBIkkjulGpNTY" />
    <add key="AccessToken" value="1585619707-n6NHUfG18dD6Ii2N320Olay2jgV1qRaFoaFTJxB" />
    <add key="AccessTokenSecret" value="K2crYZgbTJk5LtTIedp08g0NE06evsokWchvEokp8hEHS" />
        
    <add key="TweetsCount" value="5" />
  </appSettings>
</configuration>
